/* add home page styles here */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    background-color: rgb(81, 243, 6);
}

main {
    
    background-image: linear-gradient(rgb(217, 23, 243),  rgb(8, 245, 225));
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 5px outset rgb(81, 243, 6);
    border-radius: 20px;
}

form {
    
    border: 10px outset rgb(162, 250, 0);
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
}

#result {
    position: relative;
    height: 20px;
    width: 170px;
    border: 5px outset rgb(247, 5, 247);
    border-radius: 7px;
    color: rgb(8, 4, 245);
    padding-left: 6px;
    padding-bottom: 2px;
    text-align: center;
    margin-left: 275px;
    margin-bottom: 100px;
}

#operator {
    font-weight: bold;
}

button {
    color: rgb(34, 6, 53);
    background-color: rgb(162, 248, 3);
    border-radius: 5px;
}

#value1 {
    background-image: linear-gradient(rgb(217, 23, 243),  rgb(8, 245, 225));
    height: 30px;
    text-align: center;
}

#value2 {
    background-image: linear-gradient(rgb(217, 23, 243),  rgb(8, 245, 225));
    height: 30px;
    text-align: center;
}

p {
    font-size: 50px;
    color: rgb(214, 196, 196);
    text-align: center;
    font-family: cursive
}